* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  max-width: 300px;
  width: 100%;
  padding: 1.2rem;
  margin: 1rem 0;
  border: 1px solid black;
}

.cell {
  background-color: transparent;
  border: 1px solid black;
  height: 0;
  padding-bottom: 100%;
}

.cell__activated {
  background-color: #1F2544;
}
